# Port
PORT=3000

# JWT_SECRET
JWT_SECRET='708DD1DC5BC5A169'

# Token TTL
ACCESS_TOKEN_TTL_MINUTES=30
REFRESH_TOKEN_TTL_DAYS=7

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456789
MYSQL_DATABASE=admin_template

# Debug
LOG_LEVEL='debug'
